01

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

```

In [ ]:
# 과일 리스트 안의 변수들을 '변수'로 받아 for문을 이용해 하나씩 print

사과
귤 
수박

02

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
```

In [ ]:
# 결과
#####
#####
#####
# 과일 리스트 내의 변수 개수만큼 print('#####')를 반복 
# 따라서, '#####'를 3번 반복

#####
#####
#####

03

다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

```
for 변수 in ["A", "B", "C"]:
  print(변수)
```

In [ ]:
# 1. 리스트 컴프리헨션 이용
[i for i in ['A', 'B', 'C']]

# 2. 리스트 슬라이스 이용
a = ['A', 'B', 'C']
print(a[0])
print(a[1])
print(a[2])

# a리스트 내의 0번째, 1번째, 2번째 요소들을 print = for문을 이용해 a리스트 내의 요소를 하나씩 print

A
B
C

04

for문을 풀어서 동일한 동작을하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
```

In [ ]:
#1. 리스트 컴프리헨션 이용
['출력:' + i for i in ['A', 'B', 'C']]

#2. 리스트 슬라이스 이용
a = ['A', 'B', 'C']
print('출력:', a[0])
print('출력:', a[1])
print('출력:', a[2])

출력: A
출력: B
출력: C

05

for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
```

In [ ]:
#1. 리스트 컴프리헨션
['변환:'+ i.lower() for i in ['A', 'B', 'C']]

#2. 리스트 슬라이스
a = ['A', 'B', 'C']
print('변환:', a[0].lower())
print('변환:', a[1].lower())
print('변환:', a[2].lower())

# 리스트 내의 각 요소들이 print되기 전 lower()을 통해 소문자로 변환되어 출력 = 리스트 내 요소를 하나씩 소문자로 변환해 출력하는 것과 동일

변환: a
변환: b
변환: c

06

다음 코드를 for문으로 작성하라.

```
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
```

In [ ]:
a = [10, 20, 30]
#1. 리스트 컴프리헨션
['변수 = '+ str(i) for i in a]

#2. for문
for i in a:
  print('변수 = ', i)

변수 =  10
변수 =  20
변수 =  30

07

다음 코드를 for문으로 작성하라.

```
print(10)
print(20)
print(30)
```

In [ ]:
# 리스트 컴프리헨션
a = [10, 20, 30]
[i for i in a]

#for문
for i in a:
  print(i)

10
20
30

08

다음 코드를 for문으로 작성하라.

```
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
```

In [ ]:
# a리스트 내부의 요소를 i로 받아 하나씩 출력하고 하나 출력 후 '-----'를 함께 출력하는 것을 세 번 반복
for i in a:
  print(i)
  print('-----')

10
-----
20
-----
30
-----

09

다음 코드를 for문으로 작성하라.

```
print("++++")
print(10)
print(20)
print(30)
```

In [ ]:
a = ['++++', 10, 20, 30]
[i for i in a]

a = ['+++++', 10, 20, 30]
for i in a:
  print(i)

+++++
10
20
30

10

다음 코드를 for문으로 작성하라.

```
print("-------")
print("-------")
print("-------")
print("-------")
```

In [ ]:
for _ in range(4): # range(4) = range(0, 4) -> 0부터 3까지 (0, 1, 2, 3) 따라서, 총 4번 반복한다. 
  print('------')

------
------
------
------

11

다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

```
리스트 = [100, 200, 300]
```
```
110
210
310
```

In [ ]:
L = [100, 200, 300]
[i+10 for i in L]

[110, 210, 310]

12

for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
```
리스트 = ["김밥", "라면", "튀김"]
```
```
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [ ]:
L = ['김밥', '라면', '튀김']
for i in L:
  print('오늘의 메뉴:',  i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

13

리스트에 주식 종목이름이 저장돼 있다.

```
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
```

저장된 문자열의 길이를 다음과 같이 출력하라.
```
6
4
4
```

In [ ]:
L = ['SK하이닉스', '삼성전자', 'LG전자']
for i in L:
  print(len(i))

6
4
4

14

리스트에는 동물이름이 문자열로 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```

동물 이름과 글자수를 다음과 같이 출력하라.

```
dog 3
cat 3
parrot 6
```

In [ ]:
L = ['dog', 'cat', 'parrot']
for i in L:
  print(i, len(i))

dog 3
cat 3
parrot 6

15

리스트에 동물 이름 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```
for문을 사용해서 동물 이름의 첫 글자만 출력하라.
```
d
c
p
```

In [ ]:
L = ['dog', 'cat', 'parrot']
for i in L:
  print(i[0])

d
c
p

16

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```

for문을 사용해서 다음과 같이 출력하라.
```
3 x 1
3 x 2
3 x 3
```

In [ ]:
L = [1, 2, 3]
for i in L:
  print('3 x', i)

3 x 1
3 x 2
3 x 3

17

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```
for문을 사용해서 다음과 같이 출력하라.
```
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [ ]:
L = [1, 2, 3]
for i in L:
  print('3 x', i , '=', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

18

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
나
다
라
```

In [ ]:
L = ['가', '나', '다', '라']
for i in L[1:]:
  print(i)

나
다
라

19

리스트에는 네 개의 문자열이 바인딩돼 있다.
```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
가
다
```

In [ ]:
L = ['가', '나', '다', '라']
for i in range(0, 4, 2):
  print(L[i])

가
다

20

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
라
다
나
가
```

In [ ]:
L = ['가', '나', '다', '라']
for i in L[::-1]:
  print(i)

라
다
나
가

21

리스트에는 네 개의 정수가 저장돼 있다.

```
리스트 = [3, -20, -3, 44]
```

for문을 사용해서 리스트의 음수를 출력하라.
```
-20
-3
```

In [ ]:
L = [3, -20, -3, 44]
for i in L:
  if i < 0:
    print(i)

-20
-3

22

for문을 사용해서 3의 배수만을 출력하라.

```
리스트 = [3, 100, 23, 44]
```
```
3
```

In [ ]:
L = [3, 100, 23, 44]
for i in L:
  if i%3 == 0:
    print(i)

3

23

리스트에서 20 보다 작은 3의 배수를 출력하라
```
리스트 = [13, 21, 12, 14, 30, 18]
```
```
12
18
```

In [ ]:
L = [13, 21, 12, 14, 30, 18]
for i in L:
  if i < 20 and i%3 == 0:
    print(i)

12
18

24

리스트에서 세 글자 이상의 문자를 화면에 출력하라

```
리스트 = ["I", "study", "python", "language", "!"]
```
```
study
python
language
```

In [ ]:
L = ["I", "study", "python", "language", "!"]
for i in L:
  if len(i) >= 3:
    print(i)

study
python
language

25

리스트에서 대문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
A
D
```
(참고) isupper() 메서드는 대문자 여부를 판별합니다.
```
>> 변수 = "A"
>> 변수.isupper()
True
>> 변수 = "a"
>> 변수.isupper()
False
```

In [ ]:
L = ["A", "b", "c", "D"]
for i in L:
  if i.isupper() == True:
    print(i)

A
D

26

리스트에서 소문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
b
c
```

In [ ]:
L = ['A', 'b', 'c', 'D']
for i in L:
  if i.islower() == True:
    print(i)

b
c

27

이름의 첫 글자를 대문자로 변경해서 출력하라.

```
리스트 = ['dog', 'cat', 'parrot']
```
```
Dog
Cat
Parrot
```
(참고) upper() 메서드는 문자열을 대문자로 변경합니다.
```
>> 변수 = "a"
>> a.upper()
A
>> 변수 = "abc"
>> 변수.upper()
ABC
```

In [ ]:
L = ['dog', 'cat', 'parrot']
for i in L:
  print(i.capitalize())

Dog
Cat
Parrot

28

파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

```
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
```
```
hello
ex01
intro
```

In [ ]:
L = ['hello.py', 'ex01.py', 'intro.hwp']

for i in L:
  print(i.split('.')[0])

hello
ex01
intro

29
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
define.h
```

In [ ]:
L = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in L:
  if '.h' in i:
    print(i)

intra.h
define.h

30
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
intra.c
define.h
```

In [ ]:
L = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in L:
  if ('.h' in i) | ('.c' in i):
    print(i)

intra.h
intra.c
define.h

31

for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [ ]:
for _ in range(100):
  print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

32

월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

```
2002
2006
2010
...
2042
2046
2050
```
참고) range의 세번 째 파라미터는 증감폭을 결정합니다.
```
>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]
```

In [ ]:
for i in range(2002, 2051, 4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

33

1부터 30까지의 숫자 중 3의 배수를 출력하라.

```
3 
6 
9 
12 
15 
18 
21 
24 
27 
30
```

In [ ]:
for i in range(1, 31):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30

34

99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [ ]:
for i in range(99, -1, -1):
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

35

for문을 사용해서 아래와 같이 출력하라.

```
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
```

In [1]:
for i in range(10):
  print('0.', i)

0. 0
0. 1
0. 2
0. 3
0. 4
0. 5
0. 6
0. 7
0. 8
0. 9

36

구구단 3단을 출력하라.
```
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
```

In [5]:
for i in range(9):
  print('3x' ,i+1 ,'=', 3*(i+1))

3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 = 12
3x 5 = 15
3x 6 = 18
3x 7 = 21
3x 8 = 24
3x 9 = 27

37

구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

```
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
```

In [7]:
for i in range(0, 10, 2):
  print('3x', i+1, '=', 3*(i+1))

3x 1 = 3
3x 3 = 9
3x 5 = 15
3x 7 = 21
3x 9 = 27

38

1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합 : 55
```

In [10]:
num = 0
for i in range(11):
  num += i
print('합 : ', num)

합 :  55

39

1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합: 25
```

In [12]:
num = 0
for i in range(1, 11, 2):
  num += i
print('합 : ', num)

합 :  25

40

1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [14]:
num = 1
for i in range(1, 11):
  num *= i
print(num)

3628800

41

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
32100
32150
32000
32500
```

In [15]:
price_list = [32100, 32150, 32000, 32500]
for price in range(len(price_list)):
  print(price_list[price])

32100
32150
32000
32500

42

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
0 32100
1 32150
2 32000
3 32500
```

In [17]:
price_list = [32100, 32150, 32000, 32500]
for num, price in enumerate(range(len(price_list))):
  print(num, price_list[num])

0 32100
1 32150
2 32000
3 32500

43

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
3 32100
2 32150
1 32000
0 32500
```

In [24]:
price_list = [32100, 32150, 32000, 32500]
for num, price in enumerate(price_list):
  print(num, price)

0 32100
1 32150
2 32000
3 32500

44

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500
```

In [27]:
price_list = [32100, 32150, 32000, 32500]
for num, price in enumerate(range(len(price_list))):
  print((num*10)+100, price_list[price])

100 32100
110 32150
120 32000
130 32500

45

my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
가 나
나 다
다 라
```

In [30]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

46

리스트를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라", "마"]
가 나 다
나 다 라
다 라 마
```

In [34]:
my_list = ["가", "나", "다", "라", '마']
for i in range(len(my_list)-2):
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

47

반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
라 다
다 나
나 가
```

In [36]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list))[::-1]:
  print(my_list[i], my_list[i-1])

라 다
다 나
나 가
가 라

48

리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

```
my_list = [100, 200, 400, 800]
```
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
```
100
200
400
```

In [38]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
  print(my_list[i+1] - my_list[i])

100
200
400

49

리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

```
my_list = [100, 200, 400, 800, 1000, 1300]
```
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
```
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [45]:
import numpy as np

my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
  print(np.mean(my_list[i:i+3]))

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

50

리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

```
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
```

In [46]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
  volatility.append(high_prices[i] - low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]